@import "tailwindcss";

/* Base reset */
html, body {
  height: 100%;
}

body {
  margin: 0;
}

/* Empêche les puces/indentations "HTML brut" */
ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Images responsive */
img {
  max-width: 100%;
  display: block;
}
